{% extends 'layout.html' %}

{% block title %}Home{% endblock %}
{% block head %} 
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
{% endblock %}

{% block content %}
<div class="container">
  <div class="header middle_Title">
    <h1>It's Classified</h1>
  </div>
  
  <div class="container">
  
    <canvas id="index-drawings"></canvas>
    <div class="button-container">
      <a href="scan.html" class="button">
        Start Scanning
      </a>
    </div>
  </div>
</div>
{% endblock %}