{% extends 'layout.html' %}

{% block title %}Home{% endblock %}
{% block head %} 
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
{% endblock %}

{% block content %}
<div class="container">
  <div class="header middle_title">
    <h1 class="classified">IT'S CLASSIFIED</h1>
  </div>
  
  <div class="container">
    <div class="button-container">
      <a id="start-scan" href="scan" class="button">
        <div id="scan-line"></div>
        START SCANNING
      </a>
    </div>
    <canvas id="index-drawings" width="300px" height="300px">
    </canvas>
    <ul class="drawing-select">
      <li><div id="selector-0" class="selector-circle"></div></li>
      <li><div id="selector-1" class="selector-circle"></div></li>
      <li><div id="selector-2" class="selector-circle"></div></li>
    </ul>
  </div>
</div>
<script src="js/draw.js"></script>
{% endblock %}