{% extends "layout.html" %}
{% block title %}Scan{% endblock %}
{% block head %}<link rel="stylesheet" href="css/scan.css"/>{% endblock %}

{% block content %}
<div class="header">
  <h1 class="classified">IT'S CLASSIFIED</h1>
</div>
<div class="container">
  <ol id="image-list" class="image-list">
    <li>Hello</li>
    <li>Hola</li>
    <li>Meow</li>
    <li>Hello</li>
    <li>Hola</li>
    <li>Meow</li>
  </ol>
</div>
<div class="container">
  <h3 class="form-title">Drag file or click below</h3>
  <form action="/upload" method="POST" id="imagedropzone" class="dropzone file-upload" enctype="multipart/form-data">
  </form>
  <input type="button" value="Scan" id="upload"/>
</div>
<div id="response">
</div>
<script src="js/dropzone.js"></script>
<script src="js/scan.js"></script>
{% endblock %}
