{% extends "layout.html" %}
{% block title %}Scan{% endblock %}
{% block head %}<link rel="stylesheet" href="css/scan.css"/>{% endblock %}

{% block content %}
<div class="header">
    <h1 class="classified">IT'S CLASSIFIED</h1>
  </div>
<div class="container">
  <ol id="image-list"></ol>
  <h3 class="form-title">Drag file or click below</h3>
  <form action="/upload" method="POST" class="dropzone file-upload" enctype="multipart/form-data">
  </form>
  <button id="upload" type="button" class="button">Submit</button>
</div>
<div id="response"/>
<script src="js/dropzone.js"></script>
<script src="js/scan.js"></script>
{% endblock %}
