.classified{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 3px;
  color: #DF0101;
  border-bottom: 6px solid #DF0101;
  border-top: 6px solid #DF0101;
  display: inline-block;
  text-align: center;
  margin-bottom: 50px;
}
.classified a{
  color: #DF0101;
  text-decoration: none;
}
.header {
  text-align: center;
}
.container {
  text-align: center;
  align-items: center;
}

.image-list{
  margin-top:0px;
  margin-bottom:0px;
  min-height:500px;
  width:200px;
  overflow:auto;
  float:left;
  vertical-align: top;
  font-family: "Verdana";
  color: gray;
}

.image-list li{
  height:175px;
  width:175px;
  text-align:center;
  line-height: 90px;
  margin-top: 10px;
}

.image-list li:first-child{
    margin-top: 0px;
}

.image-list li:hover{
    background-color: #E7E7E7;
    cursor: pointer;
}

::-webkit-scrollbar{
    -webkit-appearance: none;
    height: 15px;
    width: 10px;
}

::-webkit-scrollbar-thumb{
    border-radius: 0px;
    background-color: rgba(255,121,121,1);
    box-shadow: 0 0 1px rgba(255,121,121,1);
}

::-webkit-scrollbar-track{
    background-color: rgba(203,203,203,1);
}

.save-bar{
    height: 20px;
    width: 100px;
    background-color:#F5BCA9;
    border: 2px solid #FE642E;
    border-radius: 5px;
    display: flex;
    flex-flow:center;
    margin-left:auto;
    margin-right:auto;
}

.save-button{
    vertical-align:center;
    height:19px;
    width:19px;
    padding: none;
    border: none;
    background:none;
    background-image: url("../image/save.png");
    background-size:contain;
}

.saveall-button{
    vertical-align:center;
    height:19px;
    width:19px;
    padding: none;
    border: none;
    background:none;
    background-image: url("../image/save-all.png");
    background-size:contain;
}

.delete-button{
    vertical-align:center;
    height:19px;
    width:19px;
    padding: none;
    border: none;
    background:none;
    background-image: url("../image/delete.png");
    background-size:contain;
}

.file-upload {
  font-family: "Montserrat", sans-serif;
  width: 266px;
  height: 200px;
  background-image: url("../image/Upload.png");
  background-size: contain;
  background-position: center;
  /*background-position-y: 20px;*/
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.file-upload:hover {
  cursor:pointer;
}
.button {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  text-decoration: none;
  padding: 8px 30px 8px 30px;
  color: #FFFFFF;
  background-color: #DE564B;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
  border: 0px;
  margin-top: 30px;
  margin-left: -240px;
}
.button:hover {
  cursor: pointer;
}
.button:focus {
  outline: none;
}
.form-title {
  font-family:"Verdana";
  color: gray;
  display: inline-block;
  margin-left:-240px;
}
.data-dz-thumbnail {
  margin-top: 40px;
}
.dz-image {
  height: 120px;
}
.dz-filename {
  height: 40px;
  line-height: 30px;
  overflow: hidden;
}
.dz-filename span {
  line-height: 10px;
  font-family: "Verdana";
  color: gray;
}